body {
    /* I should move this into the img folder once I figure out how to resolve the path */
    background-image: url(dungeon.png);
}

.choose-h1 {
    text-align: center;
    color: azure;
}

.chosen-quiz-header {
    color: red;
}

.choose_quiz_img1 {
    height: 250px;
    width: 250px;
}

.choose_quiz_img2 {
    height: 250px;
    width: 250px;
}

