body {
    box-sizing: border-box;
    background-color: ivory;
    background-size: cover;
}


.choose-h1 {
    text-align: center;
    color: #0a0a36;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
}


.choice-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.choose_quiz_img {
    max-width: 250px;
    max-height: 250px;
    border: darkslategray solid 1px;
    border-radius: 10px;
    margin: 10px;
}


.choose_quiz_img:hover {
    transform: scale(.95);
    transition: transform .2s;
}


.quiz-title {
    color: #1f2b2b;
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 70px;
}


.correct-notification, .incorrect-notification {
    font-size: 30px;
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #1f2b2b;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
    display: none;
}


.prompt-answer-container {
    font-size: 45px;
    font-family: serif;
    color: brown;
    text-align: center;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 15px;
    justify-content: center;
    border-radius: 5px;
    display: none;
}


.next-button {
    font-size: 90px;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-stretch: ultra-expanded;
    text-align: center;
    opacity: .85;
    color: #1f2b2b;
    margin: auto;
    width: 109px;
    cursor: pointer;
    display: none;
    align-items: center;
    padding-left: 32px;

}


.next-button:hover {
    transform: scale(.80);
    transition: transform .1s;
}


.next-button:active {
    transform: scale(.95);
    transition: transform .2s;
    border:  none;
    border-radius: 5px;
}


.return-button {
    background-color: #5480d1;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    border-radius: 5px;
    color: rgb(247, 239, 224);
    margin: 100px;
    width: 190px;
    height: 88px;
    transform: scale(1);
    cursor: pointer;
    display: none;
}


.return-button:hover {
    background-color: #a4ddc2;
}


.return-button:active {
    transform: scale(.95);
    transition: transform .2s;
    border:  none;
    border-radius: 5px;
}


.back-button {
    background-color: #a4ddc2;
    font-size: 25px;
    font-family: 'Hammersmith One', sans-serif;
    border-radius: 5px;
    color: rgb(247, 239, 224);
    margin: 100px;
    width: 170px;
    height: 78px;
    transform: scale(1);
    cursor: pointer;
}


.choices-container {
    display: none;
    flex-direction: column;
    margin-top: 70px;
}


.choice {
    width: 250px;
    height: 50px;
    background-color: lightslategrey;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 17px;
    font-family: 'Sawarabi Mincho', sans-serif;
    cursor: pointer;
    transform: scale(1);
    margin: 10px auto;
    border-radius: 5px;
}


.choice:hover {
    background-color: silver;
}


.choice:active {
    transform: scale(.95);
    transition: transform .2s;
}


/* Display name selection page */

.user-score {
    text-align: center;
    display: none;
}


.display-name-prompt {
    color: cornflowerblue;
    text-align: center;
}


.display-name-form {
    display: none;
}


table, th, td {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: lightblue;
    padding: 5px;
    text-align: left;
}
