body {
    /* I should move this into the img folder once I figure out how to resolve the path */
    /*background-image: url(dungeon.png);*/
    /*background-size: auto;*/
}


.choose-h1 {
    text-align: center;
    color: darkblue;
}
.choose_quiz_img {
    height: 250px;
    width: 250px;
}

.quiz-title {
    text-align: center;
}

.correct-notification {
    font-size: 25px;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    background: #3ef35c;
    width: 92px;
    height: 32px;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
}

.incorrect-notification {
    font-size: 25px;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    background: #3ef35c;
    width: 92px;
    height: 32px;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
}

.prompt-answer-container {
    background-color: greenyellow;
    /*border: 2px solid black;*/
    font-size: 66px;
    font-style: italic;
    color: cadetblue;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 15px auto;
    padding: 5px;
    justify-content: center;
    display: none;
}

.next-button {
    background-color: #5480d1;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    /*border: 1px solid black;*/
    border-radius: 5px;
    color: rgb(247, 239, 224);
    margin: auto;
    width: 90px;
    height: 38px;
    transform: scale(1);
    cursor: pointer;
    display: none;
}

.next-button:hover {
    background-color: #a4ddc2;
}

.next-button:active {
    transform: scale(.95);
    transition: transform .2s;
    border:  none;
    border-radius: 5px;
}


.return-button {
    background-color: #5480d1;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    /*border: 1px solid black;*/
    border-radius: 5px;
    color: rgb(247, 239, 224);
    margin: 100px;
    width: 190px;
    height: 88px;
    transform: scale(1);
    cursor: pointer;
    display: none;
}

.return-button:hover {
    background-color: #a4ddc2;
}

.return-button:active {
    transform: scale(.95);
    transition: transform .2s;
    border:  none;
    border-radius: 5px;
}


.back-button {
    background-color: #a4ddc2;
    font-size: 25px;
    font-family: 'Hammersmith One', sans-serif;
    /*border: 1px solid black;*/
    border-radius: 5px;
    color: rgb(247, 239, 224);
    margin: 100px;
    width: 170px;
    height: 78px;
    transform: scale(1);
    cursor: pointer;
}

.choices-container {
    display: none;
}

.choice {
    width: 180px;
    height: 50px;
    background-color: rgb(243, 209, 145);
    text-align: center;
    line-height: 55px;
    color: #122b10;
    font-size: 15px;
    font-family: 'Hammersmith One', sans-serif;
    cursor: pointer;
    transform: scale(1);
    margin: 10px auto;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

.choice:hover {
    background-color: peru;
}

.choice:active {
    transform: scale(.95);
    transition: transform .2s;
}


/* Display name selection page */

.user-score {
    text-align: center;
    display: none;
}

.display-name-prompt {
    color: cornflowerblue;
    text-align: center;
}

.display-name-form {
    display: none;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}