<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>High Scores</title>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap&family=IM+Fell+English:ital@1&family=Cute+Font" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>

<a href="http://localhost:8000/" class="return-link">< return to quiz selection</a>

<div class="table-flex-container">
    <div class="table-title"> - highscores for the {{ quiz_topic }} quiz -</div>

    <table>
      <tr>
        <th>display name</th>
        <th>score</th>
      </tr>

      {% for item in highscores %}
          <tr>
            <td>{{ item.display_name }}</td>
            <td>{{ item.score_as_percent }}</td>
          </tr>
      {% endfor %}
    </table>

</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>