<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>High Scores</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>

<table class="high-score-table">
    <thead>
        <tr>
            <th colspan="2">~~~~ Highscores ~~~~</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>name</td>
            <td>score</td>
        </tr>
    </tbody>
</table>

<a href="http://localhost:8000/">
<button type="button" class="back-button" onclick="">Return to quiz selection</button>
</a>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>