<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>High Scores</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>

<table>
  <tr>
    <th>Display Name</th>
    <th>Score</th>
  </tr>

  {% for item in highscores %}
      <tr>
        <td>{{ item.display_name }}</td>
        <td>{{ item.user_correct_score }}</td>
      </tr>
  {% endfor %}
</table>

{#<table>#}
{#    <tr>#}
{#        <th>Name</th>#}
{#        ...#}
{#        <th>Score</th>#}
{#    </tr>#}
{#    {% for item in highscores %}#}
{#    <tr>#}
{#        <td>{{ item.display_name }}</td>#}
{#        ...#}
{#        <td>{{ item.user_correct_score }}</td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#</table>#}

<a href="http://localhost:8000/">
<button type="button" class="back-button" onclick="">Return to quiz selection</button>
</a>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>