<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Frontend home page</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
  </head>
</html>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<h1 class="choose-h1">Choose your quiz</h1>


        <a href="http://127.0.0.1:8000/quiz">
        <img src="static/img/video_game_quotes.PNG" class='choose_quiz_img1 selection-video-game-quotes' alt="">
        </a>


        <a href="http://127.0.0.1:8000/quiz">
        <img src="static/img/programming.PNG" class='choose_quiz_img2 selection-programming' alt="">\
        </a>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>