<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap&family=IM+Fell+English:ital@1&family=Cute+Font" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>


<h1 class="choose-h1">choose a quiz</h1>

<div class="choice-flex-container">
    <img src="static/img/video_game_quotes.png" class='choose_quiz_img selection-option-vg-quotes' alt="">
    <img src="static/img/programming_with_django.png" class='choose_quiz_img selection-option-programming' alt="">
</div>

<h1 class="quiz-title"></h1>

<div class="correct-notification"></div>
<div class="incorrect-notification"></div>

<div class="prompt-answer-container"></div>

<div class="next-button"></div>

<div class="choices-container">
    <div class="choice choiceIndex0"></div>
    <div class="choice choiceIndex1"></div>
    <div class="choice choiceIndex2"></div>
    <div class="choice choiceIndex3"></div>
</div>

<div class="form-flex-container">
    <div class="user-score-notification"></div>
    <form class="display-name-form" method="post" >
        {% csrf_token %}
        {{ form }}
    <input type="submit">
    <p class="display-name-prompt"> enter a display name to be featured on the high score board </p>
    </form>
</div>

<div class="photo-credit">photo by Olga O via unsplash</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>