<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Frontend home page</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
<h1 class="choose-h1">Choose your quiz</h1>

        <img src="static/img/video_game_quotes.PNG" class='choose_quiz_img selection-vg-quotes' alt="">
        <img src="static/img/programming.PNG" class='choose_quiz_img selection-programming' alt="">

<h1 class="quiz-title"></h1>

<div class="correct-notification">Correct</div>
<div class="incorrect-notification">Incorrect</div>
<div class="user-score-notification"></div>

<div class="prompt-answer-container">
</div>


<button type="button" class="next-button" onclick="">Next  ></button>

<div class="choices-container">
    <div class="choice choiceIndex0"></div>
    <div class="choice choiceIndex1"></div>
    <div class="choice choiceIndex2"></div>
    <div class="choice choiceIndex3"></div>
</div>

<button type="button" class="return-button" onclick="">Return to quiz selection</button>

<form class="display-name-form" method="post" >
    <h1>Enter a display name to be featured on the high score board</h1>
    {% csrf_token %}
    {{ form }}
<input type="submit">
</form>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>